{% load staticfiles %}
<html>

<head>
	<title> Netflow Discovery </title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/flow.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600,700italic,700,600italic,400italic,300italic,400' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="page-header">
		<h1><a href="/">Netflow Discovery</a></h1>
	</div>
	
	<div id="menu">
		<ul>
		  <li><a href="default.asp">Home</a></li>
		  <li><a href="news.asp">News</a></li>
		  <li><a href="contact.asp">Contact</a></li>
		  <li><a href="about.asp">About</a></li>
		</ul> 
	</div>
	
	<script type="text/javascript" src={% static 'jquery.min.js' %}></script>
	
	{% block content %}
	
	{% endblock %}
	
	<footer>Server time: {% now "jS F Y H:i" %}
	</footer>
</body>

</html>