{% extends 'flow/base.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
 
<script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>

<script type="text/javascript" >
$(document).ready(function() {
    $('#example').DataTable( {
    	"ordering": false,
        "pagingType": "full_numbers",
        dom: 'Bfrtip',
        buttons: [
            'copyFlash',
            'csvFlash',
            'pdfFlash',
            'print'

        ]
    } );
} );
</script>

<script type="text/javascript">
<!--
	function showHide(){
		var chkBox = document.getElementById("{{ form.checkbox.id_for_label }}");
		var txtBox = document.getElementById("{{ form.address.id_for_label }}");
		if (chkBox.checked){
			txtBox.disabled = true;
			txtBox.value= ""
		} else {
			txtBox.disabled = false;

		}
	}
-->
</script>

<form class = "exportTable", action="."  method="POST">	
	<h2> Choose Data To Export </h2>
	
	{% csrf_token%} 
	<p><label>Choose The Type Of Traffic:</label>
		{{form.choice }}</p>

	<label> All IP Addresses </label>
		{{form.checkbox }}

	<label> Or Input IP Address:</label>
		{{form.address }} 
			{% if form.address.errors %}
				{% for error in form.address.errors %}
					{{ error|escape }}
				{% endfor %}
			{% endif %}

	<p><label> Start Date </label>
		{{form.start_date }}</p>

	<p><label> End Date </label>
		{{form.end_date }}</p>

	<input type="submit" name="search" value="Submit" style="width:150px"/>

{% if res %}
	<br>
	<br>
	<table id="example" >
		<thead>
		<tr>
			<th> Destination IP Address </th>
			<th> Traffic </th>
		</tr>	
		</thead>
		
		<tbody> 
		<tr>
 		{% for obj in res %}
		 	<td>{{ obj.ip_dst}}  {{obj.ip_src }}</td>
		 	<td>{{ obj.traffic| filesizeformat }}</td>
		</tr>
		{% endfor %}
		</tbody> 
	</table>


	{% endif %}

</form>

{% endblock %}

