{% extends 'flow/base.html' %}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

{% load chartit %}
{{top_ip_out_chart|load_charts:"top_ip_out_chart"}}

<div class="table-chart">
<div id="top_ip_out_chart"></div>

	<table>
	<caption>Top 10 Source Locations Out</caption>	
	<tr>
		<th>IP Source</th>
		<th>IP Protocol</th>
		<th>Traffic</th>
	</tr>
		{% for p in top_ip_out %}
			<td>{{ p.ip_src }}</td>
			<td>{{ p.ip_proto }}</td>
			<td>{{ p.traffic | filesizeformat}}</td>	
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}

