h1 a {
    color: #0000FF;
	font-family: 'Josefin Sans', sans-serif;
}


#page-header {
    : 0px;
    left: 0px;
    padding: 20px 20px 20px 40px;
    background-color: #00CCCC;

}

#page-header h1, #page-header h1 a, #page-header h1 a:visited, #page-header h1 a:active {
    color: #ffffff;
    font-size: 24pt;
    text-decoration: none;

}

/* TABLE */
caption {
    text-align: center;
    font-size: 16pt;
}

.table-chart {
    width: 40%;
    display: inline-block;
    margin: 2em;
}


.table-chart th, td{
    border-bottom: 1px solid #ddd;
    width: 400px;
    text-align: left;

}

th {
    background-color: #4CAF50;
    color: white;


}

tr:hover {background-color: #f5f5f5}

/* MENU */
ul {
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    width: 150px;
    background-color: #00CCCC;
    float: left;
    height: 100%;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li {
    height: 80px;
    text-align: center;
}
li a {
    display: block;
    color: #ffffff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #979A9C;
}

footer {
    position:fixed;
    bottom:0px;
    height:35px;
    width:100%;
    background-color: #979A9C;
    color: #ffffff;
    text-align: left;
    padding: 5 5;
}