h1 a {
	font-family: 'PT Sans', sans-serif;
}

label, h2 {
    font-family: "PT Sans",serif;;
}
caption {
        font-family: "PT Sans", serif;

}

body {
    background-color: #5C5C5C;
    margin: 0;
}

.main-header {
    margin: 0;
    padding: 20 0 20 40px;
    background-color: #ffffff;
    color: black;
}


.main-header a, .main-header a:visited, .main-header a:active {
    text-decoration: none;
    color: black;
}

.main-nav ul {
    float: right;
    display: inline-block;
    margin: 5 40 5 0;
}
#title {
    font-size: 24;
}

.main-nav li, .main-nav li a, .main-nav li a:visited {
    display: inline;
    color: black;
    text-decoration: none;
    padding: 10 10 10 10 ;
}

.main-nav li a:active {
    text-decoration: 
}

.page-header2 {
    background-color: #ef8e1f;

}

.page-header2, .page-header2 a, .page-header2 a:visited, .page-header2 a:active{
    color: white;
    text-decoration: none;
    padding: 5 0 5 40;
}

#float-left{
    float: left;
    padding: 10 40 10 0;
}

#float-right {
    float: right;
    padding: 10 40 10 40;
}


.content {
    padding: 2% 10% 2% 10%;

}

#device_table{
    height: 140px;
    overflow:auto;
}

#device_table table {
    width: 100%;
    border-collapse: collapse;
}

#device_table th, #device_table td {
    padding: 8 20 8 20;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.report_form {
    width: 100%;
}

.report_form .section{
    font: normal 20px 'Bitter', serif;
    color: #9DE3E3;
    margin-bottom: 10px;
}
.report_form .section span {
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}
.report_form .inner-wrap {
    padding: 20px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 10px;
}

.report_form label{
    display: block;
    font: 13px  sans-serif;
    margin: 5 0 5 -15;
}
.report_form label span {
    color: red;
}

.report_form .inner-wrap ul li {
    list-style-type: none;
    margin: 0 0 10 0;
}
.report_form input{
    padding:  3 10 3 10;

}
.report_form input[type="submit"]:hover{
    cursor: pointer;
}

caption {
    text-align: center;
    font-size: 16pt;
}

.table-chart {
    width: 40%;
    display: inline-block;
    margin: 0em 2em 2em 2em;
}

.table-chart table, .table-chart  p {
    color: white;
}
.table-chart2 {
    display:block;
    margin-bottom: 20px;
}

.table-chart th {
    text-align: center;
}


.table-chart  td{
    border-bottom: 1px solid #ddd;
    width: 400px;
    text-align: left;

}

#select {

    margin-bottom: 10px;
}

footer, .exportTable:after {
    position: fixed;
    bottom:0px;
    width:100%;
    background-color: #979A9C;
    color: #ffffff;
    text-align: left;
    padding: 5 5 5 20;
}

#auth {
    display: inline-block;
    margin: 2em;
}

.cust_rep {
    display: none;
}

select {
        background:#fff;
    overflow: hidden;
    display: inline-block;
    color: #525252;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: solid 1px #DADADA;

    position: relative;
    cursor: pointer;
    padding: 2 20 2 2;
}

input { 
     -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: solid 1px #DADADA;
}


.help {
    cursor:help;
    background: #ABABAB;
    padding: 2 6 2 6; 
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 12px;
    color: #fff;
    margin: -5px 0 0 3px;
}